<% provide(:title, 'Sign up') %>
<%=render 'shared/error_messages'%>
<h1 class="text-center">Sign up</h1>

<div>
    <div class = "form-card">
        <%= form_with(model: @user, local: true) do |f| %>
           
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control'%>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation%>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>

        <p>Already have an account? <%= link_to "Login!", login_path %></p>
    </div>
</div>