<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Contact Us", contacts_path, class: "nav-link"%>
      </li>

      <!-- drop down menu bar-->
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <%= link_to "Profile", current_user %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"> <%= link_to "Log out", logout_path, method: :delete %></a>
          </div>
        </li>
        
        <% else %>
        
          <%= link_to "Sign up", signup_path, class: "btn btn-outline-primary my-2 my-sm-0 sign-up"%> 
          <%= link_to "Log in", login_path, class: "btn btn-outline-primary my-2 my-sm-0 sign-in"%>
        <% end %>
     
    </ul>
    
  </div>
</nav>